<html ng-app=calendar>
	<head>
		<title>What is up?</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="shortcut icon" href="statics/favicon.ico">
		<style>
			body {background-color:#652D89;}
			.day {display:inline-block; border: 2px solid #D5610E; color:white; width:140px; height:100px;}
			.glyphicon {color:white; font-size:30px;}
			h1 {color:white; display:inline-block;}
			.month {width:200px; margin:0px; padding:0px}
			.calendar {position:absolute; display:inline-block; left:200px; top:200px; width:1100px;}
			.days_header {display:inline-block; border:4px solid #D5610E; color:white; width:140px; height:30px;}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script type="text/javascript">var calendar=angular.module('calendar',[]);
			calendar.controller('month_and_year',['$scope', '$http', function($scope,$http) {$scope.month={{current_month}}; 
			$scope.year={{current_year}};
			$scope.year_calendar = {{year_calendar}};
			$scope.days_of_the_week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
			$scope.month_calendar= function(num){
				var arr=[];
				var index_of_first=0;
				var day_of_first=0;
				var index_of_last=0;
			for(var i=0;i<12; i++){
				index_of_first = $scope.year_calendar.indexOf(1,index_of_first+1);
				var index_of_last1 = $scope.year_calendar.indexOf(1,index_of_first+1);
				var index_of_last0 = $scope.year_calendar.indexOf(0,index_of_first+1);
				if(index_of_last1<index_of_last0&index_of_last1>0){index_of_last = index_of_last1;} else {index_of_last= index_of_last0;}
				day_of_first = index_of_first % 7;
				arr.push($scope.year_calendar.slice(index_of_first-day_of_first,index_of_last));}
				for(var j=0; j<arr.length;j++){
					for(var i=0;i<arr[j].length;i++){
						if(arr[j][i]==0){arr[j][i]='Previous Month';}}}
							
				return arr[num]
				};
			$scope.month_names=['','January','February','March','April','May','June','July','August','September','October','November','December'];
			$scope.send_year = function() {
				var url = "http://localhost:5000/day-lookup/?year=" + $scope.year;
				var url_promise = $http.get(url);
				url_promise.success(function(data, status, headers, config) {
					$scope.year_calendar = data.dates;
                });
				url_promise.error(function(data,status,headers,config){
					alert("AJAX Failed!");});};
					
			$scope.add_one=function(){if($scope.month==12){$scope.year++;$scope.send_year(); $scope.month=1;}
				else{$scope.month++;}};
			$scope.sub_one=function(){if($scope.month==1){$scope.year--;$scope.send_year(); $scope.month=12;}
				else{$scope.month--;}};
			
			}]);
			
			
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li><a href="/post" class="btn-success btn-navbar">Post an event.</a></li>
					</ul>
				</div>
			</div>
		</nav>
	
		
			<div ng-controller="month_and_year">
				<div class="col-xs-6 col-xs-offset-3">
					<div ng-click="sub_one()" class="glyphicon glyphicon-chevron-left"></div>
						<h1 ng-bind="month_names[month]" class="month"></h1><h1> - </h1>
						<h1 ng-bind="year"></h1>
					<div ng-click="add_one()" class="glyphicon glyphicon-chevron-right"></div>
				</div>
				<div class="calendar">
						<div ng-repeat="header in days_of_the_week" ng-bind="header" class="days_header"></div>
						<div ng-repeat="date in month_calendar(month-1) track by $index" ng-bind="date" class="day"></div>
					
				</div>
			</div>
	
		
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	</body>

</html