<html ng-app=calendar>
	<head>
		<title>What's up, MCTC?</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-old-ie-min.css">
		<![endif]-->
		<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
		<!--<![endif]-->
	
		<style>
			body {background-color:#EAEAEA;}
			.headliner {background-color:#652D89;}
			.left_hash {word-wrap:break-word;}
			.arrow {display:inline-block; font-size:100px; color:white;}
			.day {display:inline-block; border: 2px solid black; color:black; padding: 0; width:140px; height:200px; overflow:hidden;}
			h1 {color:white; display:inline-block;}
			span {border: 2px solid black; background-color:#E69138; border-radius:5px;}
			.month {width:200px; margin:0px; padding:0px}
			.calendar {display:inline-block; width:1100px;}
			.days_header {font-size:20; display:inline-block; border:2px solid black; color:black; width:140px; height:30px;}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
		<script type="text/javascript">
			var calendar = angular.module('calendar', []);
			calendar.controller('month_and_year', ['$scope', '$http', function ($scope, $http) {$scope.month = {{current_month}}; 
			$scope.year = {{current_year}};
			$scope.year_calendar = {{dates_posts|tojson|safe}};
			$scope.month_calendar = function(index_of_month){return $scope.year_calendar[index_of_month-1];};
		
			$scope.days_of_the_week = ["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"];
			
			
			$scope.month_names = ['','January','February','March','April','May','June','July','August','September','October','November','December'];
			$scope.send_year = function() {
				var url = "http://localhost:5000/day-lookup/?year=" + $scope.year;
				var url_promise = $http.get(url);
				url_promise.success(function(data, status, headers, config) {
					$scope.year_calendar = data.dates_posts;
                });
				url_promise.error(function(data,status,headers,config){
					alert("AJAX Failed!");});};
					
			$scope.add_one=function(){if($scope.month==12){$scope.year++;$scope.send_year(); $scope.month=1;}
				else{$scope.month++;}};
			$scope.sub_one=function(){if($scope.month==1){$scope.year--;$scope.send_year(); $scope.month=12;}
				else{$scope.month--;}};
			$scope.single_event = function(num){
				window.location = "/event/" + num.toString(); };
			$scope.date_events = function(num_year,num_month,num_day){
				window.location = "/date/" + num_year.toString()+"/"+num_month.toString()+"/"+num_day.toString();};
			}]);
			
			{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
			window.alert("{{ message | safe }}");
		{% endfor %}
		{% endif %}
		{% endwith %}
		
		</script>
	</head>
	<body ng-controller="month_and_year">
		<div class="pure-g-responsive">
			<div class="pure-menu pure-menu-open pure-menu-horizontal">
				<ul class="pure-u-sm-1-4">
					<li><a href="/">What's up, MCTC?</a></li>
				</ul>
				<ul class="pure-u-sm-1-4">
					<li><a href="/post">Post an event</a></li>
				</ul>
				<ul class="pure-u-sm-1-4">
					<li><a href="/search">Search for an event</a></li>
				</ul>
			</div>
		</div>
			
		
		<div class="pure-g-responsive headliner">
		<div class="pure-u-sm-1-4"></div>
		<div class="pure-u-sm-1-2">
			<div ng-click="sub_one()" class="arrow">&#8592;</div>
				<h1 ng-bind="month_names[month]" class="month"></h1><h1> - </h1>
				<h1 ng-bind="year"></h1>
			<div ng-click="add_one()" class="arrow">&#8594</div>
		</div>
		<div class="pure-u-sm-1-4"></div>
		</div>
		<div class="pure-g-responsive">
		<div class="pure-u-sm-3-24 left_hash">
		<ul ng-repeat="date in month_calendar(month) track by $index">
			<div ng-if="date[1].length>0" ng-repeat="post in date[1]">
			<li ng-bind="post.post_hash" ng-click="single_event(post.id)"></li>
			</div>
		</ul>
		
		</div>
		<div class="calendar pure-u-sm-21-24">
			<div ng-repeat="header in days_of_the_week" ng-bind="header" class="days_header"></div>
			<div ng-repeat="date in month_calendar(month) track by $index" class="day" ng-click="date_events(year,month,date[0])">
				<p ng-bind="date[0]"></p>
				<div ng-if="date[1].length>0" ng-repeat="post in date[1]">
					<span ng-bind="post.post_title" ng-click="single_event(post.id); $event.stopPropagation();"><span>
				</div>
			</div>
		</div>
		</div>
	
	</body>

</html