<html ng-app="post">
	<head>
		<title>Post your event</title>
	
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	</head>
	<body>
	
{% from "_formhelper.html" import render_field %}
<form method=post>
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.content) }}
    {{ render_field(form.hash_tag) }}
    {{ render_field(form.date) }}
  </dl>
  <p><input type=submit value="Submit Event">
</form>
	
	
	
	</body>
</html>